.HW__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.BT_1, .BT_2, .BT_3, .BT_4, .BT_5 {
    border: 2px solid rgb(147, 153, 153, .3);
}

.item__content {
    text-align: center;
}

.item__content input {
    text-align: center;
}